<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div>
            <a href="https://kiit.ac.in/" class="navbar-brand   ">KIIT UNIVERSITY</a>
        </div>
<ul class="navbar-nav">

    <li> <a  *ngIf="hard.isloggedin()" routerLink="/welcome/ankesh" class="nav-link">HOME</a></li>
    <li><a *ngIf="hard.isloggedin()" routerLink="/todos" class="nav-link">TODOS</a> </li>

</ul>
<ul class="navbar-nav navbar-collapse justify-content-end">

    <li> <a *ngIf="!hard.isloggedin()" routerLink="/login" class="nav-link">LOGIN</a></li>
<li><a  *ngIf="hard.isloggedin()" routerLink ="/logout" class="nav-link">LOGOUT</a></li>


</ul>

    </nav>
</header>   



